#wrapper {
	margin: 0 auto;
	width: 96%;

}

body{
	font-size: 100%
}

header {
	height: 40px;
	padding: 2em;
}

#header h1 {
	margin-top: 50px;
	margin-left: 39%;
	font-size: 45px;
	font-family: 'Quicksand', sans-serif;
}

#header h3 {
	position: relative;
	font-family:  'Quicksand', sans-serif;
	margin-left: 43%;
	font-weight: lighter;
	margin-top: -30px;
	margin-bottom: 60px;
}

#home_main_content {
	background-color: #ff9d69;
	height:400px;
	width:85%;
	clear:both;
	padding: 10px 10px 10px 10px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin: 0 auto;
}
#main_content {
	background-color: #ff9d69;
	height:auto;
	width:85%;
	clear:both;
	padding: 10px 10px 10px 10px;
	position: relative;
	margin-top: 80px;
	margin-bottom: 80px;
	margin: 0 auto;
}

#home_main_content #self {
	width: 200px;
	height: 190px;
	float: left;
	padding-left: 10px;
	padding-bottom: 10px;
}

#home_main_content #cover {
	width: 300px;
	height: 395px;
	float: left;
	padding-left: 10px;
	padding-top: 3px;
}


#home_main_content #killin {
	height: 395px;
	width: 400px;
	float: left;
	padding-left: 35px;
	padding-top: 2px;
}

#home_main_content table {
	width: 210px;
	float: left;
	height: 400px;
}

#home_main_content #handplant{
	height: 190px;
	width: 200px;
	padding-left: 10px;
	float: left;
}

#header td {
	font-family: 'Shadows Into Light', cursive;;
	font-size: 24px;
	padding-left: 25px;
}

#header table {
	margin: 0 auto;
	margin-top: -25px;
	margin-bottom: 25px;
}

img {
	height:300px;
	width: 500px;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #dd2424;
}

a {
	text-decoration: none;
}

table a:hover {
	text-decoration: none;
	font-weight: bold;
}


#footer {
	background-color: #b4f2a9;
	clear: both;
	text-align: center;
	margin-top: 1em;
}