#wrapper {
	margin: 0 auto;
	width: 96%;

}

body{
	font-size: 100%
}

header {
	width: 100%;
	height: 40px;
	padding: 2em;
}

#header h1 {
	margin-top: 50px;
	text-align: center;
	font-size: 60px;
	font-family: 'Permanent Marker', cursive;
}

#header h3 {
	position: relative;
	font-family: 'Permanent Marker', cursive;
	font-weight: lighter;
	margin-top: -30px;
	margin-bottom: 60px;
	text-align: center;
}

#home_main_content {
	background-color: #ff9d69;
	height: 432px;
	width:85%;
	clear:both;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-top: 2em;
	padding-left: 3.5em;
	padding-right: 3.5em;
	margin: 0 auto;
	position: relative;
}
#main_content {
	background-color: #ff9d69;
	height:auto;
	width:85%;
	clear:both;
	padding: 10px 10px 10px 10px;
	position: relative;
	margin-top: 80px;
	margin-bottom: 80px;
	margin: 0 auto;
}

#home_main_content #self {
	width: 100%;
	height: 195px;
	float: left;
	padding-bottom: 10px;
}

#home_main_content #cover {
	width: 34%;
	height: 400px;
	float: left;
	padding-left: 10px;
	position: absolute;
}


#home_main_content #killin {
	width: 40%;
	height: 400px;
	float: left;
	position: relative;
}

#home_main_content ul {
	width: 20%;
	list-style: none;
	float: left;
	height: 400px;
	margin-left: -2em;
	padding-bottom: 2em;
	margin-top: 0em;
}

#home_main_content #handplant{
	height: 195px;
	width: 100%;
	float: left;
}

#header td {
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
	text-align: center;
}

#header table {
	width: 85%;
	margin: 0 auto;
	margin-top: -25px;
	margin-bottom: 25px;
}

img {
	height:300px;
	width: 500px;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #dd2424;
}

a {
	text-decoration: none;
}

table a:hover {
	text-decoration: none;
	font-weight: bold;
}


#footer {
	background-color: #b4f2a9;
	clear: both;
	text-align: center;
	margin-top: 1em;
}

body h1 {
	font-family: 'Shadows Into Light', cursive;
}